.navbar {
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    background-color: #0f172a;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h2 {
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.nav-links a.active {
    color: #38bdf8;
    font-weight: bold;
}